<section id="education" class="container my-5">
    <h2>Education</h2>
    <ul>
      <li><strong>School Education:</strong> Spicer Higher Secondary School, Pune, Maharashtra (Graduation: Feb 2019)</li>
      <li><strong>Junior College Education:</strong> Gyanavapi Junior College, Hyderabad, Telangana (Graduation: Jan 2021)</li>
      <li>
        <strong>Bachelor of Technology in Computer Science:</strong> Indian Institute of Information Technology (IIIT), Pune,
        Maharashtra (Expected Graduation: 2025)
        <br>
        <em>Relevant Courses:</em> Computer Graphics, Artificial Intelligence, Data Structures and Algorithms, Machine Learning,
        Database and Management, Computer Networks.
      </li>
    </ul>
  </section>
  
